{% extends "CFCentreBundle::layout.html.twig" %}

{% block title %} Ajout d'une formation - {{ parent() }} {% endblock %}

{% block body %}
    <h1>Ajout d'une formation</h1>
    <p>Afin d'ajouter une formation, merci de compléter le formulaire ci-dessous.</p>

    {{ include("CFCentreBundle:Formation:form.html.twig") }}

{% endblock %}