{% extends "CFCentreBundle::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }} {% endblock %}

{% block body %}
    <h1>Cycle et formations</h1>
    <p>Bienvenue sur l'application de gestion du centre de formations.</p>
    <p>Cette application vous permet:</p>
    <ul>
        <li>de créer des formations et d'y associer des formateurs</li>
        <li>de lister les formateurs</li>
        <li>de lister les formations</li>
        <li>de calculer les prestations des formateurs</li>
    </ul>
{% endblock %}