{% extends "CFCentreBundle::layout.html.twig" %}

{% block title %} Modification d'un formateur - {{ parent() }} {% endblock %}

{% block body %}
    <h1>Modification d'un formateur</h1>

    {{ include("CFCentreBundle:Formateur:form.html.twig") }}

{% endblock %}